{% extends "index.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
        {{ post }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.created_at }}</h5>

        <br>

        <p class="card-text">
        <ul>
            <li>{{post.content}}</li>
        </ul>
        </p>
    </div>
    <div class="card-footer text-muted">
        <p class="card-text">
        <ul>
            <li>Rating: {{post.rating}}</li>
        </ul>

        <br>

        <h3>Comments:</h3>

        <br>

        <div class="list-group">
            {% for comment in comments %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <small>{{ comment.created_at }}</small>
                </div>
                <p class="mb-1">{{ comment.content }}</p>
            </a>
            {% endfor %}
        </div>

        <br>
        <a class="btn btn-outline-primary" href="{% url 'add_comment' post.id %}" role="button">Add comment</a>
    </div>
</div>

	</center>
{% endblock %}